<style type="text/css">
.bc-code-outer-div {
	margin: 0.5em 0 0.5em 0;
}

.bc-code-inner-div {
	
}

.bc-code-textarea {
	font-size: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.bc-code-inner-pre {
	font-size: 100%;
	width: auto;
	border: 1px dashed #333333;
	margin: 0;
	padding: 0.5em;
	overflow: auto;
}

.bc-code-pre {
	font-size: 100%;
	width: auto;
	border: 1px dashed #333333;
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em;
	overflow: auto;
}
</style>
